@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: android;
    src: url(fontes/idroid.otf);
}


header {
    background-image: linear-gradient(to top, rgb(17, 58, 34), rgb(67, 194, 131));
    margin-top: -10px;
    margin-right: -8px;
    margin-left: -8px;
    padding: 5px;
    box-shadow: 0px 5px 9px -2px black;
    
}

header > h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

p#subtituloheader {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.521); 
    width: 400px;
    font-size: 1em;
    margin: auto;
}

a#linksheader {
    margin: 0px;
    margin-bottom: 1px;
    padding: 5px 12px;
    color: rgba(255, 255, 255, 0.705);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

a#linksheader:hover {
    color: white;
    background-color: rgb(38, 122, 73);
    border-radius: 10px;
    transition-duration: 0.5s;
}

p#plinks {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}



body {
    background-color: aquamarine;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px 20px 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.479);
}

article {
    padding-bottom: 20px;
}

.titulo {
    font-family: 'android';
    color: rgb(26, 107, 26);
    padding-left: 10px;
}

.subtitulo {
    background-image: linear-gradient(to right, rgba(57, 153, 73, 0.288), white);
    font-family: 'android';
    color: rgb(26, 107, 26);
    padding-left: 10px;
}

.imgs {
    width: 100%;
    text-align: center;
}

.text {
    text-align: justify;
    text-indent: 25px;
}

div#video {
    background-color: rgb(16, 70, 16);
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 30px;
    padding-bottom: 57.5%;
    position: relative;
}

iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}   
aside {
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    background-color: rgb(139, 219, 163);
    padding: 1px 10px 10px 10px;
    height: auto;
}

aside > h2 {
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(54, 189, 106);
    margin: -10px;
    padding: 5px 0px 5px 10px;
    color: white;
}
aside > p#text {
    padding-top: 10px;
}

ul {
    columns: 2;
}

abbr {
    text-decoration: none;
}

li::before {
    content: "🗸";
}

li {
    list-style-type: none;
    width: 200px;
}

footer {
    margin: 20px -8px -20px -8px;
    background-color: rgb(16, 70, 16);
    color: rgba(255, 255, 255, 0.658);
    font-size: 1.1em;
}

footer > p {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px -8px -20px -8px;
    text-align: center;
}

span {
    color: white;
}

.marcado {
    background-color: rgba(57, 153, 73, 0.288);
    color: rgb(22, 105, 29);
    text-decoration: none;
    font-weight: bold;
}

.marcado::after {
    content: '\1F517';
}

strong {
    color: rgb(22, 105, 29);
}